*{
    margin: 0;
    padding: 0;
    background:url("../img/piarra3.jpg");
    
    
} 
#wrapper{

    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bad Script', cursive;
    font-size: 35px;
    text-align: center;
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
   
} 

.respuestas {

  font-family: 'Bad Script', cursive;
  font-size: 19px;
  text-align: center;
  color:white;
  display: flex;
  flex-flow:column;
  margin: 10px;


}

.circulosinputs{
  visibility: hidden;
  width: 0%;
  height: 0%;
  margin: 0%;
}

p{
  font-family: 'Bad Script', cursive;
  font-size: 19px;
  text-align: center;
  /* border-radius: 50%; */
  /* border-style: solid; */
   color:white;

}
.titulo{
  font-family: 'Bad Script', cursive;
  color:white;
  text-align: center;

}
.controls{
  display:flex;
  justify-content: center;
  align-items: center;

}
.labelcorrect{
  background:rgb(53, 85, 53);
  border: 1px solid rgb(53, 85, 53);
}

.labelerror{

  background: rgb(83, 19, 19);
  border: 1px solid rgb(83, 19, 19);

}
.enlace{

  font-size: 18px;
  font-family: 'Bad Script', cursive;
  color:white;
  /* font-weight: bold; */
  padding:10px 20px;
  border-bottom-style: dotted;
  }

  .a{
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    color:white;
    font-size: 21px;
    border-bottom-style: dotted;
    border-bottom-width: thick;
  }




