*{
    margin: 0;
    padding: 0;
    background: grey;
    
}

#wrapper{

    background: url("../img/preguntas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    border-radius: 3px soild black;
   

}


/* --------------360 o menos ------------ */

.wrapper {
  margin: 0 auto;
  width: 100%;
}

.sectionContainer,
.articleContainer {
  display:flex;
  flex-direction: column;
}



/* --------------360 o menos ------------ */
@media screen and (min-width: 361px) {
  .wrapper {
    width: 360px;
  }

  .sectionsContainer {
    flex-direction: row;
  }

  section {
    margin: 0 3%;
  }
}

/* 961 o mas  */
@media screen and (min-width: 961px) {
  .wrapper {
    width: 960px;
  }

  .articlesContainer {
    flex-direction: row;
  }
}

/* .byline span {
    animation: spin-letters 10s linear infinite;
  }
  .byline {
    animation: move-byline 10s linear infinite;
  } */

/* 
  .byline span {
    display: inline-block;
  } */

  .byline {
    position: absolute;
  }
  .byline {
    color: #fff;
    font-size: 5em;
    left: -2em;
    /* letter-spacing: 0.4em; */
    right: -2em;
    text-align: center;
    /* text-transform: uppercase; */
    font-family: 'Bad Script', cursive;
    /* top: 29%; */
    cursor: pointer;
    transition:left 5s cubic-bezier(.5, -1, .5, 2);
    font-family: 'Bad Script', cursive;
   
    /* transition: left 5s cubic-bezier(0, 0, 1, 1); */
  }
 #galleta{
    width: 250px;
    height: 100px;
    position:relative;
    background: url("../img/galleta.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -500px;
    left: 300px;
    z-index: 1;
    animation: interrogante 2s infinite liner 0s;
    animation-direction:reverse;
    
    
    
} 
#galleta:hover{
  width:600px;
}

/* #mono{
  width: 250px;
  height: 100px;
  position:relative;
  background: url("../img/mono.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  bottom: -100px;
  left: 300px;
  z-index: 1;
  animation: interrogante 2s infinite liner 0s;
  animation: 9s linear infinite;

} */
.enlace{
    border-radius: 50%;
    border-style: solid;
    text-align: center;
    font-family: 'Bad Script', cursive;
    color: white;
    cursor: pointer;
    width: 90px;
    height: 40px;
    left: 100px;
  }

#mono {
    width: 150px;
    height: 145px;
    position:relative;
    background: url("../img/mono.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
    bottom: -470px;
    left: 999px;
    /* animation: coco 9s infinite liner 0s; */
    transition:left 5s cubic-bezier(.5, -1, .5, 2);
    
 }


 #movercoco {
   /* width: 150px;
    height: 150px; */
    position:relative;
    /* background-repeat: no-repeat; */
    background-size: contain;
    cursor: pointer;
    /* width: 177px;
    height: 160px; */
    left: 100px;
    transition:left 5s cubic-bezier(.5, -1, .5, 2);
    font-family: 'Bad Script', cursive;
    font-size: 20px;
    color:white;
  }

/* @keyframes move-byline {
    0% {
      transform: translateZ(5em);
    }
    100% {
      transform: translateZ(0);
    }
  } */

@keyframes galleta{

    
    0% { background-position:0   } 

   
    100% { background-position:-672px }

}

/* @keyframes coco{

    
    0% { background-position:0 }
    100% { background-position: 672px }

}  */


